<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <!-- servlet definitions -->
    <servlet>
        <servlet-name>InputController</servlet-name>
        <servlet-class>eatandfit.controller.InputController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanController</servlet-name>
        <servlet-class>eatandfit.controller.PlanController</servlet-class>
    </servlet>
    
    <!-- servlet mappings -->
    <servlet-mapping>
        <servlet-name>InputController</servlet-name>
        <url-pattern>/start/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>PlanController</servlet-name>
        <url-pattern>/plan/*</url-pattern>
    </servlet-mapping>
    
    
    
    <welcome-file-list>
        <welcome-file>start.jsp</welcome-file>
    </welcome-file-list>    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>